@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-bg: #191a1d;
    --c-on-bg: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --c-bg: white;
        --c-on-bg: black;
    }
}

html {
    font-size: 20px;
}

body {
    background-color: var(--c-bg);
    color: var(--c-on-bg);

    font-family: 'Fira Mono', monospace;
}

.scroll-container {
    scroll-snap-type: y mandatory;
}

.scroll-container > div {
    scroll-snap-align: start;
}
