/* Iosevka web */
@font-face {
    font-family: "Iosevka Fixed Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url("/Iosevka/Regular.woff2") format("woff2");
}

/* Iosevka from Xe Iaso: https://xeiaso.net/ https://github.com/Xe/iosevka  */
@font-face {
    font-family: "Iosevka Iaso";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url("/IosevkaIaso/Regular.woff2") format("woff2");
}

:root {
    --c-bg: #101010;
    --c-on-bg: #dedede;

    --c-bg-2: #18181b;
    --c-border-1: transparent;
    --c-border-2: #606060;

    --font-display: "Atkinson Hyperlegible", sans-serif;
    --font-body: "Iosevka Iaso", "Iosevka Fixed Web", sans-serif;
    --font-mono: "Iosevka Fixed Web", Iosevka, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --c-bg: #f5f5f5;
        --c-on-bg: #101010;

        --c-bg-2: white;
        --c-border-1: #aaaaaa;
        --c-border-2: #aaaaaa;
    }
}

html {
    background-color: var(--c-bg);
    color: var(--c-on-bg);
}

body {
    font-family: var(--font-body);
    font-optical-sizing: auto;
}

code {
    font-family: var(--font-mono) !important;
}
