---
const { lang, icon, size, alpineOnClick } = Astro.props;
---

<button >
    <img
        @click={alpineOnClick}
        class={"inline-block " + (size? size: "h-8") + " px-1 my-1"}
        src={`/img/${icon}-logo.svg`}
        alt={`${lang} logo`}
        title={`${lang} logo`}
    />
</button>
