<div class="md:h-screen">
    <nav
        class="md:fixed md:top-0 md:left-0 md:rotate-[-90deg] font-display md:w-[100vh] md:translate-y-[100vh] p-2 w-full"
        style="transform-origin: 0% 0%;"
    >
        <div class="shadow hover:shadow-md transition-shadow bg-c-bg-2 py-2 px-4 border border-zinc-600 dark:border-zinc-900 rounded-md">

        <a class="font-semibold inline-block text-2xl hover:underline mr-6" href="/">
            Fernando Araoz
        </a>

        <br class="md:hidden" />

        <a class="mr-6 inline-block hover:underline" href="/side-projects"
            >Side projects</a
        >
        <a class="mr-6 inline-block hover:underline" href="/blog/en">Eng Blog</a
        >
        <a class="mr-6 inline-block hover:underline" href="/blog/es">Es Blog</a>

        </div>
    </nav>
</div>
