<div class="h-screen">
    <nav
        class="fixed top-0 left-0 rotate-[-90deg] font-display w-[100vh] translate-y-[100vh] p-2"
        style="transform-origin: 0% 0%;"
    >
        <div class="shadow hover:shadow-md transition-shadow bg-c-bg-2 py-2 px-4 border border-zinc-600 dark:border-zinc-900 rounded-md">

        <a class="font-semibold inline-block text-2xl hover:underline" href="/">
            Fernando Araoz
        </a>
        <a class="ml-6 inline-block hover:underline" href="/side-projects"
            >Side projects</a
        >
        <a class="ml-6 inline-block hover:underline" href="/blog/en">Eng Blog</a
        >
        <a class="ml-6 inline-block hover:underline" href="/blog/es">Es Blog</a>

        </div>
    </nav>
</div>
