<div class="lg:px-1">
    <h1 class="text-xl font-light py-4">
        Hi 👋! I'm
        <br />
        <span class="font-bold text-3xl">Fernando Araoz</span>
    </h1>
    <div class="text-center">
        <div class="inline-block w-28 h-28 lg:w-40 lg:h-40 rounded-full bg-slate-500"></div>
    </div>
    <p class="text-center">
        I'm a (human) software engineer passionate about web technologies. I
        love building things and learning new stuff.
    </p>
    <div class="text-center py-4">
    <a class="inline-block py-2 px-4 rounded bg-blue-600 text-white" href="/blog/en/">Blog (en)</a>
    <a class="inline-block py-2 px-4 rounded bg-indigo-600 text-white" href="/blog/es/">Blog (es)</a>
    </div>
</div>
