<div class="lg:px-1 pb-8">
    <div class="text-center">
        <div class="inline-block w-28 h-28 lg:w-40 lg:h-40 rounded-full bg-slate-500"></div>
    </div>

    <h1 class="text-xl font-light py-4">
        <p class="font-display font-bold text-3xl text-center">
            Fernando Araoz
        </p>
    </h1>
    <p class="font-display text-center">
        I'm a Human software engineer based in Peru,
        passionate about webdev, devops and sysadmin
        stuff.
        <br />
        And sometimes I may find inspiration to write for
        my blog.
    </p>
    <hr />
    <div class="text-center">
        <a href="/side-projects"
            class="py-2 px-4 inline-block bg-sky-600 text-white my-2 rounded"
        >
            My sideprojects
        </a>
    </div>
    <div class="flex items-center gap-1 justify-center">
        <span>
            Proudly written in
        </span>
        <a href="https://archlinux.org" target="_blank">
            <img
                class={"inline-block h-6 px-1 my-1"}
                src={`/img/logos/archlinux-logo.svg`}
                alt="Arch Linux logo"
                title="Arch btw"
            />
        </a>
        <a href="https://neovim.io" target="_blank">
            <img
                class={"inline-block h-6 px-1 my-1"}
                src={`/img/logos/neovim-mark.svg`}
                alt={`Neovim logo`}
                title={`Neovim btw`}
            />
        </a>
    </div>
</div>
