<div class="lg:px-1">
    <div class="text-center">
        <div class="inline-block w-28 h-28 lg:w-40 lg:h-40 rounded-full bg-slate-500"></div>
    </div>

    <h1 class="text-xl font-light py-4">
        <span class="font-display font-bold text-3xl">Fernando Araoz</span>
    </h1>
    <p class="font-display">
        Human software engineer based in Peru
    </p>
    <hr />
    <div class="text-center">
        <a href="/side-projects"
            class="py-2 px-4 inline-block bg-sky-600 text-white my-2 rounded"
        >
            My sideprojects
        </a>
    </div>
</div>
