---
import BlogLayout from "../../../layouts/BlogLayout.astro";

const allPosts = await Astro.glob("./*.md");
---

<BlogLayout lang="es">
    <p>
        Pienso, therefore escribo un blog post en español.
        <br>
        Estos post son diferentes a lo que escribo en ingles.
    </p>

    <ul>
        {
            allPosts
                .toSorted((x, y) =>
                    x.frontmatter.pubDate > y.frontmatter.pubDate ? -1 : 1,
                )
                .map((post) => {
                    return (
                        <li>
                            {post.frontmatter.pubDate} -
                            <a class="underline" href={post.url}>
                                {post.frontmatter.title}
                            </a>
                        </li>
                    );
                })
        }
    </ul>
</BlogLayout>
