---
import BlogLayout from "../../../layouts/BlogLayout.astro";
---

<BlogLayout lang="es">
    <h1>Blog en Español</h1>

    <p>Carita feliz :D</p>

    <p>Posts:</p>

    <ul>
        <li>
            <a class="underline" href="/blog/responsible-stack/">
                The responsible stack
            </a>
        </li>
        <li>
            <a class="underline" href="/blog/go-1/">
                Golang first impressions
            </a>
        </li>
    </ul>
</BlogLayout>