---
import Card from "../Card.astro";
import LangLogo from "../LangLogo.astro";
import ToolIcon from "../ToolIcon.astro";
---

<Card title="I've coded in">
    <div x-data="{active_tab: ''}">
        <div class="flex justify-evenly">
            <ToolIcon
                isRoot={true}
                name="JS/TS"
                icon="ts-logo"
                size="big"
                alpineOnClick="active_tab = 'ts'"
            />
            <ToolIcon
                isRoot={true}
                name="Java/Kotlin"
                icon="java-logo"
                size="big"
                alpineOnClick="active_tab = 'java'"
            />
            <ToolIcon
                isRoot={true}
                name="Rust"
                icon="rust-logo"
                size="big"
                alpineOnClick="active_tab = 'rust'"
            />
        </div>

        <div class="py-4 md:px-16">
            <div x-show="active_tab === 'ts'">
                I've used JS/TS since my first year at uni. I've written a lot
                of small pages, with either vanilla JS or frameworks in the
                frontend (vue, react, solid, astro) & backend (express, nest).
                <br />
                <br />
                And as far as web goes, I've also used Pug, SASS, Tailwind, CSS-in-JS.
            </div>
            <div x-show="active_tab === 'java'">
                The first PL I've learnt, I've used Java through uni to
                implement algorithms, DSAs and backends with Java EE.
                <br />
                <br />
                Nowadays I'm pivoting towards using Spring and either REST APIs or
                dynamic pages with HTMX.
            </div>
            <div x-show="active_tab === 'rust'">
                Rust is currently my favorite language. I've used it by myself
                for some algorithms, at my last job for a Backend REST API with
                <a
                    class="underline text-blue-600"
                    href="https://rocket.rs"
                    target="_blank">rocket.rs</a
                >, and currently I'm using it in a side project as full stack
                language.
            </div>
            <div x-show="active_tab === 'c'">
                I've used C & C++ in uni, to learn about low level programming,
                operating systems and Programming Language theory.
            </div>
            <div x-show="active_tab === 'csharp'">
                I've used C# in uni to learn about videogames, with both Unity &
                Godot.
            </div>
            <div x-show="active_tab === 'php'">
                I've used PHP at work, to mantain & update legacy websites, and
                to create a REST API along with a React frontend.
            </div>
            <div
                class="text-center table h-32 w-full"
                x-show="active_tab === ''"
            >
                <div class="table-cell align-middle">
                    &darr; Click one &uarr;
                </div>
            </div>
        </div>
        <p class="my-4">
            <span class="font-medium text-lg">Other</span> languages I've used:
            <br />
            <div class="flex justify-evenly">
                <LangLogo
                    href="https://www.iso.org/standard/74528.html"
                    lang="C"
                    icon="c"
                    size="h-16"
                    alpineOnClick="active_tab = 'c'"
                />
                <LangLogo
                    href="https://isocpp.org/std/the-standard"
                    lang="C++"
                    icon="cpp"
                    size="h-16"
                    alpineOnClick="active_tab = 'c'"
                    k
                />
                <LangLogo
                    href="https://learn.microsoft.com/en-us/dotnet/csharp/"
                    lang="Microsoft Java"
                    icon="c-sharp"
                    size="h-16"
                    alpineOnClick="active_tab = 'csharp'"
                />
                <LangLogo
                    href="https://www.php.net/"
                    lang="PHP"
                    icon="php"
                    size="h-16"
                    alpineOnClick="active_tab = 'php'"
                />
            </div>
            <br />
            Other languages I've tried for fun:
            <br />
            <div class="text-center">
                <LangLogo
                    href="https://elixir-lang.org/"
                    lang="Elixir"
                    icon="elixir"
                />
                <LangLogo
                    href="https://www.erlang.org/"
                    lang="Erlang"
                    icon="erlang"
                />
                <LangLogo href="https://gleam.run/" lang="Gleam" icon="gleam" />
                <LangLogo
                    href="https://coffeescript.org/"
                    lang="CoffeeScript"
                    icon="coffeescript"
                />
                <LangLogo
                    href="https://racket-lang.org/"
                    lang="Racket"
                    icon="racket"
                />
                <LangLogo href="https://ziglang.org/" lang="Zig" icon="zig" />
                <LangLogo
                    href="https://learn.microsoft.com/en-us/dotnet/fsharp/what-is-fsharp"
                    lang="F#"
                    icon="f-sharp"
                />
                <LangLogo
                    href="https://www.haskell.org/"
                    lang="Haskell"
                    icon="haskell"
                />
                <LangLogo href="https://ocaml.org/" lang="OCaml" icon="ocaml" />
                <LangLogo
                    href="https://rescript-lang.org/"
                    lang="Rescript"
                    icon="rescript"
                />
                <LangLogo
                    href="https://www.swift.org/"
                    lang="Swift"
                    icon="swift"
                />
                <LangLogo
                    href="https://www.scala-lang.org/"
                    lang="Scala"
                    icon="scala"
                />
                <LangLogo
                    href="https://clojure.org/"
                    lang="Clojure"
                    icon="clojure"
                />
                <LangLogo
                    href="https://www.gnu.org/software/bash/"
                    lang="Bash"
                    icon="bash"
                />
                <LangLogo href="https://www.lua.org/" lang="Lua" icon="lua" />
            </div>
        </p>
    </div>
</Card>

<script>
    console.log("Hello there!");
</script>
