---
import Card from "../Card.astro";
import ToolIcon from "../ToolIcon.astro";
---

<Card title="I'm learning">
    <div class="flex justify-evenly">
        <ToolIcon
            isRoot={true}
            name="Zig"
            icon="zig-logo"
            size="big"
        />
        <ToolIcon
            isRoot={true}
            name="Go"
            icon="go-logo"
            size="big"
        />
    </div>
</Card>
