---
import Card from "../Card.astro"
import ToolIcon from "../ToolIcon.astro"
---

<Card title="Tools">
    <p>
        I've used a lot of tools, some of them are:
    </p>
    <div class="text-center">
        <ToolIcon name="Git" icon="git" href="https://git-scm.com" size="big" />
        <ToolIcon name="Jira" icon="jira" href="https://www.atlassian.com/jira" size="big" />
        <ToolIcon name="Docker" icon="docker" href="https://www.docker.com/" size="big" />
        <ToolIcon name="Jenkins" icon="jenkins" href="https://www.jenkins.io/" size="big" />
        <br>
        <ToolIcon name="Linux" icon="linux" href="" size="medium" />
        <ToolIcon name="Postgres" icon="postgres" href="" size="medium" />
        <ToolIcon name="GCloud" icon="google_cloud" href="" size="medium" />
    </div>
</Card>
