---
import GithubIcon from "../components/Sideprojects/GithubIcon.astro";
import GlobeIcon from "../components/Sideprojects/GlobeIcon.astro";
import NavigationLayout from "./NavigationLayout.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/blog.css" />
        <title>Side projects - Fernando Araoz</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css"
        />
        <script src="//unpkg.com/alpinejs" is:inline defer></script>
    </head>
    <body>
        <NavigationLayout>
            <div class="grid grid-cols-[30rem_auto] gap-2">
                <div class="flex items-center">
                    <div
                        class="bg-c-bg-2 my-4 rounded p-4 dark:shadow-black shadow"
                    >
                        <h1
                            class="font-display font-semibold text-xl text-center"
                        >
                            Typed Hyperscript Processor (webpage)
                        </h1>

                        <p class="pt-8">
                            Descripción del proyecto :D (carita feliz) en 240
                            palabras o menos
                        </p>

                        <div class="pt-8">
                            <GithubIcon color="var(--c-on-bg)" />
                            <a href="" class="underline">Source code</a>
                            <br />
                            <GlobeIcon color="var(--c-on-bg)" />
                            <a href="" class="underline"
                                >https://webpage.araozu.dev/</a
                            >
                        </div>

                        <div class="pt-8">logos</div>
                    </div>
                </div>

                <div
                    class="w-full h-screen flex items-center justify-center p-16"
                >
                    <img
                        class="inline-block shadow-sm dark:shadow-black rounded"
                        src="/img/projects/thp/01.png"
                        alt="Project image"
                    />
                </div>
            </div>
        </NavigationLayout>
    </body>
</html>
