---
import BlogLayout from "../../../layouts/BlogLayout.astro";

const allPosts = await Astro.glob("./*.md");
---

<BlogLayout>
    <p>
        My thoughts on many tech things, on english. This content may (will)
        differ from what I wrote in Spanish.
    </p>

    <ul>
        {
            allPosts
                .toSorted((x, y) =>
                    x.frontmatter.pubDate > y.frontmatter.pubDate ? -1 : 1,
                )
                .map((post) => {
                    return (
                        <li>
                            {post.frontmatter.pubDate} -
                            <a class="underline" href={post.url}>
                                {post.frontmatter.title}
                            </a>
                        </li>
                    );
                })
        }
    </ul>
</BlogLayout>
