---
import BlogLayout from "../../../layouts/BlogLayout.astro";
---

<BlogLayout>
    <h1>Blog index, WIP</h1>

    <p>Some day there will be a procedurally generated list of pages here!</p>

    <p>Until then:</p>

    <p>Posts:</p>

    <ul>
        <li>
            <a class="underline" href="/blog/en/responsible-stack/">
                The responsible stack
            </a>
        </li>
        <li>
            <a class="underline" href="/blog/en/go-1/">
                Golang first impressions
            </a>
        </li>
    </ul>
</BlogLayout>
